.base-info{
  margin-top: 8px;
  padding: 0 8px;
  color: #999;
  border-bottom: 5px solid #f2f5f8;
}
.info-title{
  color: #222;
  overflow: hidden;
  text-overflow:ellipsis;
}
.info-price{
  margin-top: 10px;
}
.info-price .n-price{
  font-size: 24px;
  color: var(--color-hight-text);
}
.info-price .o-price{
  font-size: 13px;
  margin-left:5px;
  text-decoration: line-through;
}
.info-price .discount{
  font-size: 12px;
  padding: 2px 5px;
  color: #fff;
  border-radius: 8px;
  background-color: var(--color-hight-text);
  margin-left: 5px;
  position: relative;
  top:-12px;
}
.info-other{
  margin-top: 15px;
  line-height: 30px;
  display: flex;
  font-size: 13px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.1);
  justify-content: space-between;
}
.info-service{
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 50px;
}
.info-service-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-service-item img{
  width: 14px;
  height: 14px;
}
.info-service-item span{
  font-size: 13px;
  color: #333;
}