.goods-info{
  padding: 20px 0;
}
.info-desc{
  padding: 0 15px;
}
.info-desc .start,info-desc .end{
  position: relative;
}
.info-desc .start{
  float: left;
  width: 90px;
  background-color: #333;
  height: 1px;
}
.info-desc .end{
  float: right;
  width: 90px;
  background-color: #333;
  height: 1px;
}
.info-desc .start::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #333;
  bottom: 0;
}
.info-desc .end::after{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #333;
  margin-right: 10px;
  /* bottom: 0; */
}
.info-desc .end::after{
  right: 0;
}
.info-desc .desc{
  padding: 15px 0;
  font-size: 14px;
}
.info-key{
  margin: 10px 0 10px 15px;
  color: #333;
  font-size: 15px;
}
.info-list img{
  width: 100%;
}